html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.display {
  border:red dashed 2px;
  border-bottom: 0px;
  border-radius:10px;
  background-color: lightgrey;
  width: 500px;
  height: 250px;
  padding-top: 100px;
  padding-left: 30px;
}
.buttons {
  border-bottom: blue dashed 2px;
  border-left: blue dashed 2px;
  border-right: blue dashed 2px;
  border-radius: 10px;
  width: 500px;
  height: 100px;
  padding-left:15px;
  padding-top: 20px;
  background-color:lightpink;
}
button {
  background-color:lightblue;
  font-weight: bold;
  font-size: 12px;
  box-shadow: 0px 15px 15px -12px rgba(0,0,0,0.75);
  border-radius: 10px;
  height: 50px;
  width: 150px;
  margin: 2px;
}
button:hover {
  cursor:pointer;
  opacity: 50%;}
.text, .add {
  display:inline-block;


  
